/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-family: Arial, sans-serif;
}
body{
    font-family: 'Lato';
    color: #333;
   background-color:beige;
    background-size: cover;
    background-attachment: fixed ;
    position: relative;
}

header a {
  text-decoration: none ;
}

.Eslogan2{
text-align: center;
padding:50px;
font-size: 30px;
color: rgb(103, 30, 30);
}
.Eslogan_img{
   margin: 10px 0 0px 100px;
   width: 450px;
   height: 400px;
}
.Eslogan_b{
 position: absolute;
 margin: 0 0 0 650px;
 font-size: 35px;
 margin-top: -225px;
}

.avances{
    text-align: center;
    color: crimson;
}
.pasar_pasar{
    border: 3px solid black;
    margin-left: 200px;
    width: 900px;
    height: 500px;
    overflow: hidden;
  }
  .pasar_pasar ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 700%;
  }
  .pasar_pasar li{
      width: 900px;
      list-style: none;
  }
  .pasar_pasar img{
      width: 1100px;
      height: 500px;
  }

  iframe{
    height: 490px;
    width: 890px;
    margin-left: 200px;
  }

  @keyframes cambio{
      0%{margin-left: 0;}
      10%{margin-left: 0;}
      
      15%{margin-left: -100%;}
      25%{margin-left: -100%;}
      
      25%{margin-left: -200%;}
      50%{margin-left: -200%;}

      50%{margin-left: -300%;}
      75%{margin-left: -300%;}
      
      75%{margin-left: -400%;}
      100%{margin-left: -400%;}

      100%{margin-left: -500%;}
      125%{margin-left: -500%;}
      
      125%{margin-left: -600%;}
      150%{margin-left: -600%;}
      
     
  }
.headerjiji{
      background-image: url(img1/fondo.jpeg);
  
      height: 600px;
      background-size: cover;
    
    background-attachment: fixed ;
    position: relative;
}
.headerjeje{
    position: absolute;
  color: rgb(255, 255, 255);
  font-size:50PX;
  margin-left:28%;
  margin-top: 280px;
  text-shadow: 2px 2px 4px rgba(202, 85, 85, 0.781);
}



.logo1{
    padding-left: -30px;
}

.logo1 h1{
  padding-left: 40px;
}

#titulo2 {
    position: fixed;
   
    background: rgb(173, 48, 10);
    width: 100%;
    padding: 0px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 80px;
   
    width: 5 0%;
  }
.pue{
    margin-left: 10px;
    color: black;
}
 .logo1{
  margin-left:1px ;
 }
  
  header .logo1  img{
    margin-left: -35px;
    position: absolute;
    height: 60px;
    margin-top: -10px
  }
  header .navbar ul {
    list-style: none;
  }
  header .navbar ul li {
    position: relative;
    float: left;
  }
  header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
  }
  header .navbar ul li a:hover {
    background: #333;
    color: #fff;
  }
  
  header .navbar ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: transparent;
    display: none;
  }
  
  header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  
  header .navbar ul li ul li ul {
    left: 100px;
    top: 0;
  }
  
  header .navbar ul li:hover > ul {
    display: block;
  }
  
  #menu-bar {
    display: none;
  }
  
  header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
  }
  footer{
    background-color: rgb(23, 23, 30);
    padding: 3rem;
    color:rgb(255, 255, 255);
    font-size:20px;
}
footer section{
    float: right;
}
footer p{
    margin: 0;

}
footer a{ 
    transition: 3s;
    color: aliceblue;
    text-decoration: none;
    padding: 2rem 2rem;
    
}
 footer a:hover{
    color: blueviolet;
  
}



/* menu responsive */
@media screen and (max-width:991px) {
  header {
      padding: 10px;
  }
  .pue{
      font-size: 20px;
      position: absolute;
      margin-top: 10px;
      margin-left: 50px;
  }
  
  #titulo2 {
      width: 100%;
      height: 70px;
  }  
  header label {
      display: initial;
  }

  header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background:rgb(179, 111, 9);
      border-top: 1px solid rgba(0, 0, 0, 0);
      display: none;
      height: 200px;
      
      
  }

  header .navbar.show-menu {
      display: block;
  }
  header .navbar ul li a {
      font-size: 18px;
      padding: 20px;
      color: #fffdfd;
      display: block;
      border-top: 2px solid black;
    }
  header .navbar ul li {
      width: 100%;
  }

  header .navbar ul li ul {
      position: relative;
      width: 100%;
  }

  header .navbar ul li ul li {
      background: rgb(56, 55, 56);
  }

  header .navbar ul li ul li ul {
      width: 100%;
      left: 0;
  }
  #menu-bar:checked ~ .navbar {
      display: initial;
  }

  /* submenú "NOSOTROS" */
  header .navbar .nosotros-sub-menu {
      display: none;
      position: relative;
  }

  header .navbar .nosotros-sub-menu.show-nosotros {
      display: block;
    }
   header .logo1  { 
      
        margin-top: -40px;
        margin-left: 20px;
      }

  .material-symbols-outlined{
      font-size: 15px;
      margin-left: 10px;
      margin-top: 18px;
  }  
}


/* responsive tablet */
  @media (min-width:768px) and (max-width:820px)  {
    .pasar_pasar{
      margin-left: 80px;
      width: 80%;
      height: 330px;
  }
  .pasar_pasar img{
    width: 640px;
    height: 400px;
  }
  .avances{
    font-size: 20px;
  }
  .Eslogan_img{
   margin-top: -30px;
   margin-left: 250px;
    height: 300px;
    width: 300px;  
   
}
footer{
  width: 100%;
  margin-top: 5%;
  
}
footer a{
  font-size: 1px;
  position: fixed;
  
}
footer p{
  text-align: center;
font-size: 15px;

}
.Eslogan_b{
  margin: 20px 0px 0px 52px;
  font-size: 23px;
  text-align: center;
  margin-left: 155px;
  width: 60%;
}
.headerjiji{
  height: 500px;
  width: 100%;
}
.headerjeje{
  font-size: 37px;
  top: -5%;
  left:-5%;
}iframe{
  height: 355px;
  width: 655px;
  margin-left: 70px;
  margin-top: -25px;
}
  }



  /* responsive celular */
@media (min-width:330px) and  (max-width:480px)

{
  body{
      background-color: #f8f8d4ce;
  }
  .pue{
      margin-left: 30px;
  }
.headerjeje{
  font-size: 27px;
  top: -80px;
  left: -17%;
}
.logo1 h1{
      font-size: 22px;
      margin-left: -10px;
}
.logo1 img{
    margin: -10px;
}
.material-symbols-outlined {
  margin: 0px 0px 0px 12px;
  font-size: 20px;
}

#lick{
  width: auto;
  font-size: 20px;
  height: 40px;
}
.headerjiji{
  height: 330px;
  width: 100%;
}
  .Eslogan_img{
      margin: -31px 0px -40px 0px;
      padding: 0px 60px 0px 0px;
      height: 250px;
      width: 305px;  
      margin-left: 70px;
}
.Eslogan_b{
    margin: 56px 0px 0px 72px;
    font-size: 23px;

}
.hrtt{
  margin-top: 15px;
}
.avances{
    margin: 10px -25px 0px 50px;
    font-size: 22px;
    width:300px;
}
.pasar_pasar{
    margin-left: 28px;
    width: 85%;
    height: 200px;
}

.pasar_pasar img{
  width: 470px;
  height: 200px;
}

iframe{
  height: 195px;
  width: 315px;
  margin-left: 40px;
  margin-top: -25px;
}

.con{
    margin: -64px 0px 0px -135px;
    position: absolute;
}
.ir{
    margin: -64px 0px 0px -65px;
    position: absolute;
}
.avances{
  font-size: 20px;
}
footer{
  width: 150%;
  margin-top: 20%;
  
}
footer a{
  font-size: 1px;
  position: fixed;
  
}
footer p{
  text-align: center;
font-size: 10px;

}
<<<<<<< HEAD
}
=======
}

>>>>>>> f43676aa3a3c75e8da0bd9c2a3eb26d30bd1c9b5
