/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    color: #333;
    background-image: url(img2/fondo2.png);
    background-size: cover;
    background-attachment: fixed ;
    position: relative;
}
 .titulo{
    text-align: center;
    margin: 30px 0px;
    color: brown;
 }

.icon-cart{
    width: 40px; /* no borrar añadir */
    height: 40px;
    stroke: #000;
}
img{
    max-width: 100%;
}
.container-icon{
    z-index: 3;
    border:solid 3px rgba(255, 255, 255, 0.234);
    margin-top: -10px;   /* no borrar añadir */
   margin-left: 1175px;
    position: fixed;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;  /* no borrar añadir */
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    margin: 10px;
    border-radius: 10px;
    height: 380px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-product{
    padding: 5px 15px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
.botoncom{
    background-color: #222222; 
    height: 30px;
    border: 2px black solid;
}
.botoncom a{
    color: white;
    text-decoration: none;
}
.headerjiji{
    background-image: url(img2/hola.jpg);
    height: 600px;
    background-size: cover;
  opacity: 90%;
  background-attachment: fixed ;
  position: relative;
}
.headerjeje{
    position: absolute;
  color: rgb(255, 255, 255);
  font-size:4rem;
  margin-left:30%;
  margin-top: 240px;
}

@media screen and (max-width: 1200px) {
    

    
}

#titulo2 {
    position: fixed;
    background: rgb(173, 48, 10);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
    height: 80px;
    background-image: url(img1/fondo.jpeg);
    width: 100%;
  }
.pue{
    margin-left: 45px;
    color: black;
}
  header .logo1  img{
    margin-left: -20px;
    position: absolute;
    height: 60px;
    margin-top: -10px
  }
  .logo1 {
    margin-left: -50px;
  }
  header .navbar ul {
    list-style: none;
  }
  header .navbar ul li {
    position: relative;
    float: left;
  }
  header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;

  }
  header .navbar ul li a:hover {
    background: #333;
    color: #fff;
  }
  
  header .navbar ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: transparent;
    display: none;
  }
  
  header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  
  header .navbar ul li ul li ul {
    left: 100px;
    top: 0;
  }
  
  header .navbar ul li:hover > ul {
    display: block;
  }
  
  #menu-bar {
    display: none;
  }
  
  header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
  }

@media screen and (max-width:991px) {
    header {
        padding: 20px;
    }
  
    header label {
        display: initial;
    }
  
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: pink;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
  
    header .navbar.show-menu {
        display: block;
    }
  
    header .navbar ul li {
        width: 100%;
    }
  
    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
  
    header .navbar ul li ul li {
        background: pink;
    }
  
    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    /* submenú "NOSOTROS" */
    header .navbar .nosotros-sub-menu {
        display: none;
        position: relative;
    }
  
    header .navbar .nosotros-sub-menu.show-nosotros {
        display: block;
      }
     header .logo1  {
          padding-left: 55px ;
        }
        
  
  }