/* Glozzales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    color: #333;
    background-image: url(img2/fondo2.png);
    background-size: cover;
    background-attachment: fixed ;
    position: relative;
}
#aaaa{
    background-color: #000;
}
 .titulo{
    text-align: center;
    margin: 30px 0px;
    color: rgb(205, 37, 37);
 }

.icon-cart{
    width: 40px; /* no borrar añadir */
    height: 40px;
    stroke: #000000;
}
img{
    max-width: 100%;
}
.container-icon{
    z-index: 3;
    border:solid 3px rgba(255, 255, 255, 0.234);
    margin-top: 10px;   /* no borrar añadir */
   margin-left: 1185px;
    position: fixed;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;  /* no borrar añadir */
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #ffffff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   z-index: 0;
}


.item{
    margin: 10px;
    border-radius: 10px;
    height: 380px;
    
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-product{
    padding: 5px 15px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
.botoncom{
    background-color: #222222; 
    height: 30px;
    border: 2px black solid;
}
.botoncom a{
    color: white;
    text-decoration: none;
}
.headerjiji{
    background-image: url(img2/hola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(50px);
    height: 600px; 
}
.headerjeje{
    position: absolute;
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 17px rgba(255, 0, 0, 0.781);
  font-size: 50px;;
  margin-left:37%;
  margin-top: 250px;
}

.img_mas{ 
    position: absolute;
    margin-top: -140px;
    margin-left: 250px;
    height: 30px;
    width: 30px;
}

#titulo2 {
    position: fixed;
    background: rgb(173, 48, 10);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
    height: 80px;
    background-image: url(img1/fondo.jpeg);
    width: 100%;
  }
.pue{
    margin-left: 45px;
    color: black;
}
  header .logo1  img{
    margin-left: -20px;
    position: absolute;
    height: 60px;
    margin-top: -10px
  }
  .logo1 {
    margin-left: -50px;
  }
  header .navbar ul {
    list-style: none;
  }
  header .navbar ul li {
    position: relative;
    float: left;
  }
  header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;

  }
  header .navbar ul li a:hover {
    background: #333;
    color: #fff;
  }
  
  header .navbar ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: transparent;
    display: none;
  }
  
  header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  
  header .navbar ul li ul li ul {
    left: 100px;
    top: 0;
  }
  
  header .navbar ul li:hover > ul {
    display: block;
  }
  
  #menu-bar {
    display: none;
  }
  
  header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
  }
  .slider{
    width: 300px;
    height: 190px;
    overflow: hidden;
 
    border:rgb(165, 6, 6) 2px solid;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 300%;
  }
  .slider li{
      width: 600px;
      list-style: none;
  }
  .slider img{
      width:400px;
      height: 200px;
  }


  #mas2{
    position: absolute;
    z-index: 3;
    background-image: url(img2/marmolnegro.png);
    background-size: cover;
    width: 70%;
    height:430px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
    margin-top: 100px;
    margin-left: 200px;
  }
  
  .info{
  color: #fffdfd;
  width: 50%;
  margin-left: 450px;
  margin-top: 0px;
}


    .titulo_info .h1{
    font-size: 10px;    
    }

    .titulo_info .h1{
        text-align: center;
        font-size: 28PX;
        margin-top: -100px;
        
    }

    .butom2{
        position: absolute;
        margin-left: 300px;
        margin-top: 80px;
        width: 100px;
        height: 50px;
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(0, 0, 0);
    }

    .butom2 a{
        color: rgb(255, 255, 255);
    }
    .butom2:hover{
        background-color: rgb(0, 0, 0);
    
    }
    .butom2 a:hover{
        color: rgb(255, 255, 255);
       
    }

    .slider23{
        margin-left: -20px;
        width: 400px;
        height: 300px;
        position: absolute;
         display: flex;
         aspect-ratio: 12/9;
         overflow: hidden;
         scroll-snap-type:mandatory;
         scroll-behavior:smooth;   
         z-index: 100000; 
    }
    .slider23 img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border: 2px solid black;
    }
    .slider-nav{
        position: absolute;
        bottom: 1.25rem;
        left: 48%;
        top: 35%;
        z-index: 1;
        margin-top: 205px;
        margin-left: -330px;
    }

    .slider-nav img{
        width: 60px ;
        height: 60px ;
        border: solid 3px black;
      }
      #aaaa{
        background-color: #000;
        color: #000;
    }



@media screen and (max-width:991px) {
    header {
        padding: 10px;
    }
    .pue{
        font-size: 20px;
        position: absolute;
        margin-top: 10px;
        margin-left: 50px;
    }
    
    #titulo2 {
        width: 100%;
        height: 70px;
    }  
    header label {
        display: initial;
    }
  
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:rgb(179, 111, 9);
        border-top: 1px solid rgba(0, 0, 0, 0);
        display: none;
        height: 200px;
        
        
    }
  
    header .navbar.show-menu {
        display: block;
    }
    header .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color: #fffdfd;
        display: block;
        border-top: 2px solid black;
      }
    header .navbar ul li {
        width: 100%;
    }
  
    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
  
    header .navbar ul li ul li {
        background: rgb(56, 55, 56);
    }
  
    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    /* submenú "NOSOTROS" */
    header .navbar .nosotros-sub-menu {
        display: none;
        position: relative;
    }
  
    header .navbar .nosotros-sub-menu.show-nosotros {
        display: block;
      }
     header .logo1  { 
        
          margin-top: -30px;
          margin-left: -5px;
        }

    .material-symbols-outlined{
        font-size: 15px;
        margin-left: 10px;
        margin-top: 18px;
    }  
        
  
  }
  footer{
    background-color: rgb(23, 23, 30);
    padding: 3rem;
    color:rgb(255, 255, 255);
    font-size:20px;
}
footer section{
    float: right;
}
footer p{
    margin: 0;

}
footer a{ 
    transition: 3s;
    color: aliceblue;
    text-decoration: none;
    padding: 2rem 2rem;
    
}
 footer a:hover{
    color: blueviolet;
  
}
@media screen and (max-width:767px) {
.headerjiji{
      width: 100%; 
      height: 500px;
      background-size: cover;
}

.valen{
    font-size: 20px;
}

.info-product button{
    font-size: 14px;
   width: 160px;
   height: 40px;
   margin-top: -10px;
   border-radius: 10px;
   margin-left: -10px;
 
}
.container-icon{
   margin-top: 10px;   /* no borrar añadir */
   margin-left: 250px;
}
.item{
    margin: 5px;
    border-radius: 10px;
    height: 380px;
    width: 160px;
  
}
img{
    max-width: 100%;
}

footer  p{
    font-size: 17px;
    text-align: center;
    
}
footer section a{
font-size: 0px


}
.cart-product{
    margin-left: 00px;
}
.container-cart-products{
 
    right: -70px;
}
.container-items{
    
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.saber{
    width: 200%;
    margin-left: -50px;
}
.slider-nav{
    position: absolute;
    bottom: 1.25rem;
    left: 48%;
    top: 35%;
    z-index: 1;
    margin-top: 40px;
    margin-left: -90px;
}
.slider23{
    margin-left: 10px;
    width: 260px;
    height: 170px;
    position: absolute;
     display: flex;
     aspect-ratio: 12/9;
     overflow: hidden;
     scroll-snap-type:mandatory;
     scroll-behavior:smooth;    
}
#mas2{

    z-index: 3;
    width: 90%;
    height:530px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
    margin-top: 250px;
    margin-left: 10px;
  }
  .butom2{
    position: absolute;
    margin-left:60px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
  .info{
    text-align: center;
    width: 50%;
    margin-left:50px;
    margin-top: 250px;
  }
  .info h1{
      padding-top: 10px;
      font-size: 20px;
  }
  .info h2{
    padding-top: 10px;
    font-size: 20px;
}
.img_mas{ 
    position: absolute;
    margin-top: -120px;
    margin-left: 180px;
    height: 20px;
    width: 20px;
}

.img_mas{ 
    position: absolute;
    margin-top: -120px;
    margin-left: 120px;
    height: 30px;
    width: 30px;
}
.headerjeje{
  font-size: 35px;
    margin-top: 53%;
    margin-left: 2%;
    text-align: center;
}
.slider{
    width:100%;
    height: 190px;
    overflow: hidden;
    border:rgb(165, 6, 6) 2px solid;
  }
  .slider ul{
      
      width: 300%;
  }
  .slider li{
      width: 600px;
      list-style: none;
  }
  .slider img{
      width:600px;
      height: 200px;
  }
}

@media (min-width:768px)    {
    
    .slider{
        width:100%;
        height: 190px;
  
      }
      .slider ul{
      
        width: 300%;
    }
    
  
    .container-icon{
    
        margin-top: 10px;   /* no borrar añadir */
       margin-left: 565px;
        
    }
    
    .item{
        height: 380px;
        width: 220px;
      
    }
    footer  p{
        font-size: 20px;
        text-align: center;
        
  }
  footer section a{
    font-size: 0px


  }
    .container-items{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .slider-nav{
        position: absolute;
        bottom: 1.25rem;
        left: 48%;
        top: 35%;
        z-index: 1;
        margin-top: 175px;
        margin-left: -230px;
    }
    .slider23{
        margin-left: -20px;
        width: 350px;
        height: 270px;
        position: absolute;
         display: flex;
         aspect-ratio: 12/9;
         overflow: hidden;
         scroll-snap-type:mandatory;
         scroll-behavior:smooth;    
    }
    #mas2{

        z-index: 3;
        width: 90%;
        height:430px;
        padding: 50px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
        margin-top: 250px;
        margin-left: 40px;
      }
      .butom2{
        position: absolute;
        margin-left: 30px;
        margin-top: 40px;
        width: 100px;
        height: 50px;
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(0, 0, 0);
    }
      .info{
        text-align: center;
        width: 50%;
        margin-left:340px;
        margin-top: 20px;
      }
    .img_mas{ 
        position: absolute;
        margin-top: -120px;
        margin-left: 180px;
        height: 30px;
        width: 30px;
    }
   
    .headerjeje{

        margin-top: 37%;
        margin-left: 23%;
    }
  }
  @media screen and (min-width:1280px){
            
    .slider{
        width:100%;
        height: 190px;
  
      }
      .slider-nav{
        position: absolute;
        bottom: 1.25rem;
        left: 48%;
        top: 35%;
        z-index: 1;
        margin-top: 205px;
        margin-left: -330px;
    }
      .slider ul{
      
        width: 300%;
    }
    .container-icon{
    
        margin-top: 10px;   /* no borrar añadir */
       margin-left: 1165px;
        
    }
    .info{
        width: 50%;
        margin-left: 450px;
        margin-top: 0px;
      }
      
      
          .butom2{
              position: absolute;
              margin-left: 100px;
              margin-top: 80px;
              width: 100px;
              height: 50px;
              font-size: 15px;
              background-color: rgb(255, 255, 255);
              border: 2px solid rgb(0, 0, 0);
          }
      
    #mas2{
        position: absolute;
        z-index: 3;
        background-image: url(img2/marmolnegro.png);
        background-size: cover;
        width: 70%;
        height:430px;
        padding: 50px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
        margin-top: 100px;
        margin-left: 200px;
      }
      .slider23{
        margin-left: -20px;
        width: 400px;
        height: 300px;
        position: absolute;
         display: flex;
         aspect-ratio: 12/9;
         overflow: hidden;
         scroll-snap-type:mandatory;
         scroll-behavior:smooth;    
    }
    .headerjeje{

        margin-top: 22%;
        margin-left:32%;
    }
    
    .item{
        height: 380px;
        width: 300px;
      
    }
    
    .container-items{
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }  
    .img_mas{ 
        position: absolute;
        margin-top: -140px;
        margin-left: 250px;
        height: 30px;
        width: 30px;
    }
  }

  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
     
  }

 
